body {
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0; 
}

.atm-container {
    width: 600px;
    height: 450px;
    background: #7f8c8d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.screen-display {
    height: 100%;
    border: 5px solid #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; 
}

.welcome-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.welcome-screen h1 { font-size: 4rem; margin: 0; }
.welcome-screen p { font-size: 1.2rem; opacity: 0.9; }

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: auto; 
}

button {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #2980b9;
    background: #3498db;
    color: white;
    text-transform: uppercase;
    transition: 0.2s; 
}

button:hover { background: #2980b9; }

.withdraw-btn { background: #e67e22; border: none; }
.withdraw-btn:hover { background: #d35400; }
.back-btn { background: #333; border: none; }
.back-btn:hover { background: #000; }

.insert-card-btn {
    background: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    margin-left:250px;
}